[Desktop Entry]
Name=dvd2avi
Comment=DVD to AVI konwerter 
Comment[pl]=Narzędzie do konwersji DVD do AVI
Exec=dvd2avi
Terminal=false
MultipleArgs=false
Type=Application
Categories=GTK;KDE;Audio;AudioVideo;AudioVideoEditing;
